{% extends 'base.html' %}

{% block content %}
    <h1>Climb detail</h1>

    <p>{{ climb }}. {{ climb.location }} ({{ climb.strava_id }})</p>

    <dl>
        <dt>Distance:</dt>
        <dd>{{ segment.distance }}</dd>

        <dt>Average grade:</dt>
        <dd>{{ segment.average_grade }}</dd>

        <dt>Maximum grade:</dt>
        <dd>{{ segment.maximum_grade }}</dd>

        <dt>Elevation difference:</dt>
        <dd>{{ segment.total_elevation_gain }}</dd>
    </dl>

    <p>Men ({{ leaderboard_men.entry_count }})</p>
    <ol>
        {% for entry in leaderboard_men.entries %}
            <li>{{ entry.athlete_name }}: {{ entry.elapsed_time }}</li>
        {% endfor %}
    </ol>

    <p>Women ({{ leaderboard_women.entry_count }})</p>
    <ol>
        {% for entry in leaderboard_women.entries %}
            <li>{{ entry.athlete_name }}: {{ entry.elapsed_time }}</li>
        {% endfor %}
    </ol>

    <a href="{{ url_for('frontend.book_detail', slug=climb.book.slug) }}" title="">Back to book</a>
{% endblock %}