{% extends 'base.html' %}

{% block content %}
    <h1>{{ climb.number }}. {{ climb.name }}</h1>

    <p>From <a href="{{ url_for('frontend.book_detail', slug=climb.book.slug) }}" title="">{{ climb.book }}</a></p>

    {% if climb.segment %}
        {% set segment = climb.segment %}
        <h2>Factfile</h2>
        <dl>
            <dt>Distance:</dt>
            <dd>{{ segment.distance }}m</dd>

            <dt>Average grade:</dt>
            <dd>{{ segment.average_grade }}%</dd>

            <dt>Maximum grade:</dt>
            <dd>{{ segment.maximum_grade }}%</dd>

            <dt>Elevation high</dt>
            <dd>{{ segment.elevation_high }}m</dd>

            <dt>Elevation low</dt>
            <dd>{{ segment.elevation_low }}m</dd>

            <dt>Total elevation gain</dt>
            <dd>{{ segment.total_elevation_gain }}m</dd>

            <dt>Start latitude</dt>
            <dd>{{ segment.start_latitude }}</dd>

            <dt>Start longitude</dt>
            <dd>{{ segment.start_longitude }}</dd>

            <dt>End latitude</dt>
            <dd>{{ segment.end_latitude }}</dd>

            <dt>End longitude</dt>
            <dd>{{ segment.end_longitude }}</dd>

            <dt>Map</dt>
            <dd>{{ segment.map_polyline }}</dd>
        </dl>
    {% endif %}

    <div class="js-climb-leaders" data-climb-slug="{{ climb.slug }}">
        {% if male_club_leaders %}
        <div class="leaderboard js-leaderboard">
            <h2 class="leaderboard__title">Male club leaders</h2>
            <ol class="leaderboard__entries">
                {% for num in range(3) %}
                    {% set entry = male_club_leaders.entries[num] %}
                    {% if entry %}
                        <li class="leaderboard__entry">{{ entry.athlete_name }}: {{ entry.elapsed_time.seconds|format_time }}</li>
                    {% else %}
                        <li class="leaderboard__entry">None</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        {% endif %}

        {% if female_club_leaders %}
        <div class="leaderboard js-leaderboard">
            <h2 class="leaderboard__title">Female club leaders</h2>
            <ol class="leaderboard__entries">
                {% for num in range(3) %}
                    {% set entry = female_club_leaders.entries[num] %}
                    {% if entry %}
                        <li class="leaderboard__entry">{{ entry.athlete_name }}: {{ entry.elapsed_time.seconds|format_time }}</li>
                    {% else %}
                        <li class="leaderboard__entry">None</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>

    <div class="js-climb-standings" data-climb-slug="{{ climb.slug }}">
        <a href="http://www.strava.com/segments/{{ climb.strava_id }}" title="" class="js-hidden">View full leaderboard on Strava</a>
    </div>
{% endblock %}