{% extends 'base.html' %}

{% block content %}
    <h1>{{ climb.number }}. {{ climb.name }}</h1>

    <p>From <a href="{{ url_for('frontend.book_detail', slug=climb.book.slug) }}" title="">{{ climb.book }}</a></p>

    <h2>Factfile</h2>
    <dl>
        <dt>Distance:</dt>
        <dd>{{ segment.distance }}</dd>

        <dt>Average grade:</dt>
        <dd>{{ segment.average_grade }}</dd>

        <dt>Maximum grade:</dt>
        <dd>{{ segment.maximum_grade }}</dd>

        <dt>Elevation difference:</dt>
        <dd>{{ segment.total_elevation_gain }}</dd>
    </dl>

    <div class="js-leaders" data-climb-slug="{{ climb.slug }}">
        <div class="leaderboard js-leaderboard">
            <h2 class="leaderboard__title">Male club leaders</h2>
            <ol class="leaderboard__entries">
                {% for num in range(3) %}
                    {% set entry = male_club_leaders.entries[num] %}
                    {% if entry %}
                        <li class="leaderboard__entry">{{ entry.athlete_name }}: {{ entry.elapsed_time.seconds|format_time }}</li>
                    {% else %}
                        <li class="leaderboard__entry">None</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>

        <div class="leaderboard js-leaderboard">
            <h2 class="leaderboard__title">Female club leaders</h2>
            <ol class="leaderboard__entries">
                {% for num in range(3) %}
                    {% set entry = female_club_leaders.entries[num] %}
                    {% if entry %}
                        <li class="leaderboard__entry">{{ entry.athlete_name }}: {{ entry.elapsed_time.seconds|format_time }}</li>
                    {% else %}
                        <li class="leaderboard__entry">None</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}