{% extends 'base.html' %}

{% block content %}
    <h1>Admin</h1>

    <h2>Books</h2>
    {% if books %}
        <table>
            {% for book in books %}
            <tr>
                <td>{{ book }}</td>
                <td>
                    <a href="{{ url_for('admin.book_edit', id=book.id) }}" title="">Edit</a> |
                    <a href="{{ url_for('admin.book_delete', id=book.id) }}" title="">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{{ url_for('admin.book_add') }}" title="">Add new book</a>

    <h2>Climbs</h2>
    {% if climbs %}
        <table>
            {% for climb in climbs %}
            <tr>
                <td>{{ climb }}</td>
                <td>
                    <a href="{{ url_for('admin.climb_edit', id=climb.id) }}" title="">Edit</a> |
                    <a href="{{ url_for('admin.climb_delete', id=climb.id) }}" title="">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{{ url_for('admin.climb_add') }}" title="">Add new climb</a>

    <h2>Region</h2>
    {% if regions %}
        <table>
            {% for region in regions %}
            <tr>
                <td>{{ region }}</td>
                <td>
                    <a href="{{ url_for('admin.region_edit', id=region.id) }}" title="">Edit</a> |
                    <a href="{{ url_for('admin.region_delete', id=region.id) }}" title="">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{{ url_for('admin.region_add') }}" title="">Add new region</a>
{% endblock %}
