{% extends 'base.html' %}

{% block content %}
    <h1>Admin</h1>

    {% block admin_content %}
        {% if climbs %}
        <table>
            {% for climb in climbs %}
            <tr>
                <td>{{ climb }}</td>
                <td>
                    <a href="{{ url_for('admin.climb_edit', climb_id=climb.id) }}">Edit</a> |
                    <a href="{{ url_for('admin.climb_delete', climb_id=climb.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <a href="{{ url_for('admin.climb_add') }}">Add new climb</a>
    {% endblock %}
{% endblock %}
