<!DOCTYPE html>
<html lang="en" class="js-off">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>100 Climbs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="site-header">
        <h1 class="site-title"><a class="site-title__link" href="/" title="Go to 100 Climbs home">100 Climbs</a></h1>
        <nav class="site-nav">
            <ul class="unstyled">
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#" title="View the 100 Climbs Leadersboards on Veloviewer">Leaderboards</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="http://www.strava.com/clubs/52733" title="Join the 100 Climbs Strava club">Strava</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#" title="">Shop</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="http://www.twitter.com/100Climbs" title="Follow 100 Climbs on Twitter">Twitter</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="site-messages">
                {% for category, message in messages %}
                <div class="site-messages__message site-messages__message--{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}

    <div class="site-content {% block content_class %}{% endblock %}">
        {% block content %}{% endblock %}
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var Emilia = Emilia || {};
        Emilia.isModernBrowser = 'querySelector' in document && 'localStorage' in window && 'addEventListener' in window;
        if (Emilia) {
            var script = document.createElement('script');
            script.async = 'async';
            script.src = "{{ url_for('static', filename='js/app.min.js') }}";
            document.getElementsByTagName('head')[0].appendChild(script);
        }
    </script>
</body>
</html>
