<!DOCTYPE html>
<html lang="en" class="js-off">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>100 Climbs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<body>
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="content">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    {% endblock %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript">
        var emilia = {
            isModernBrowser: 'querySelector' in document && 'localStorage' in window && 'addEventListener' in window
        };

        if (emilia.isModernBrowser) {
            document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/g, '') + 'js-on';
            var script = document.createElement('script');
            script.async = 'async';
            script.src = "{{ url_for('static', filename='js/app.min.js') }}";
            document.getElementsByTagName('head')[0].appendChild(script);
        }
    </script>
</body>
</html>
