{% extends 'base.html' %}

{% block content_class %}site-content--map{% endblock %}

{% block content %}
    <script type="text/javascript">
        var Emilia = Emilia || {};
        {% if books %}
            Emilia.books = {{ books|tojson }};
        {% endif %}
        {% if regions %}
            Emilia.regions = {{ regions|tojson }};
        {% endif %}
    </script>

    <div ng-app="emilia" ng-controller="emilia-map" ng-cloak>
        <div class="map-info">
            {% raw %}
                <div class="map-info__buttons">
                    <button ng-repeat="book in books" class="btn map-info__btn" ng-class="{'active': book.id === currentBook.id}" ng-disabled="book.id === currentBook.id" ng-click="selectBook(book.id)">Book {{ book.id }}</button>
                </div>

                <div class="book-info__pane" ng-if="currentBook && currentClimb === null">
                    <ul class="unstyled" ng-if="currentBook.regions">
                        <li ng-repeat="region in currentBook.regions">
                            <h2><a class="book-info__region" href ng-click="selectRegion(region.id, true)" title="View climbs for {{ region.name }}" style="background-color: #{{ region.bg_colour }}; color: #{{ region.text_colour }}">{{ region.name }}</a></h2>
                            <ul class="unstyled" ng-if="region.climbs.length" ng-show="currentRegion.id === region.id">
                                <li ng-repeat="climb in region.climbs">
                                    <a class="book-info__climb" href ng-click="selectClimb(climb.id)" title="">{{ climb.number }}. {{ climb.name }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="climb-info__pane" ng-if="currentClimb">
                    <h2>{{ currentClimb.name }}</h2>
                    <a href ng-click="selectBook(currentBook.id)">Back to regions</a>
                </div>
            {% endraw %}
        </div>

        {% raw %}
            <div class="map-container">
                <google-map center="map.center" draggable="{{ map.draggable }}" options="map.options" zoom="map.zoom"> 
                    <markers ng-if="currentBook.climbs" models="currentBook.climbs" coords="'coords'" click="clickMarker" fit="true"></markers>
                    <markers ng-if="currentRegion.climbs" models="currentRegion.climbs" coords="'coords'" fit="true" ng-show="false"></markers>
                </google-map>
            </div>
        {% endraw %}
    </div>
{% endblock %}