// Base
html, body {
    height: 100%;
}

body {
    background-color: #fff;
}

a {
    color: $linkColour;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
       text-decoration: underline;
    }

    &:active {
        color: $linkAccentColour;
        text-decoration: none;
    }
}

ol,
ul {
    padding: 0;
    margin-left: $gutter;
}

blockquote {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: $baseline;
}

.unstyled {
    margin: 0;
    list-style: none;
}

.is-hidden {
    display: none !important;
}

.js-on .js-hidden {
    display: none !important;
}

// Header
.site-header {
    background-color: black;
    height: $baseline*3;
    padding: 0 $gutter;
}

.site-title {
    color: #fff;
    display: inline;
    font-size: 1em;
    line-height: $baseline*3;
}

.site-nav {
    float: right;
}

.site-nav__item {
    display: inline-block;
    line-height: $baseline*3;
    padding: 0 $gutter;
}

.site-nav__link {
    color: #fff;
}

// Messages
.site-messages {
    margin-bottom: $baseline;
}

.site-messages__message {
    background-color: #eee;
    padding: $baseline/2 $gutter/2;
}

.site-messages__message--info {
    background-color: $infoColor;
}

.site-messages__message--success {
    background-color: $successColor;
}

.site-messages__message--warning {
    background-color: $warningColor;
}

.site-messages__message--error {
    background-color: $errorColor;
}
