// Base
html, body {
    height: 100%;
}

body {
    background-color: #fff;
}

a {
    color: $linkColour;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus {
       text-decoration: underline;
    }

    &:active {
        color: $linkAccentColour;
        text-decoration: none;
    }
}

ol,
ul {
    padding: 0;
    margin-left: 25px;
}

blockquote {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: $baseline;
}

.site-header {
    background-color: black;
    height: 50px;
    padding: 0 10px;
}

.site-title {
    color: #fff;
    display: inline;
    font-size: 1em;
    line-height: 50px;
}

.site-nav {
    float: right;
}

.site-nav__item {
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
}

.site-nav__link {
    color: #fff;
}

.unstyled {
    margin: 0;
    list-style: none;
}

.is-hidden {
    display: none !important;
}

.js-on .js-hidden {
    display: none !important;
}
