
@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

// Micro clearfix (http://nicolasgallagher.com/micro-clearfix-hack/)
@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.clearfix {
    @include clearfix;
}

.hidden {
    display: none !important;
}

.desktop-show {
    display: none !important;

    @include mq(desktop) {
        display: block !important;
    }
}

.desktop-show-cell {
    display: none !important;

    @include mq(desktop) {
        display: table-cell !important;
    }
}
