// Map
.site-content--map {
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: $headerHeight;
    z-index: 1;
}

.map-container {
    bottom: 0;
    left: $leftColWidth;
    position: absolute;
    right: 0;
    top: 0;
}

.map-container .angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.map-info {
    color: #eee;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: $leftColWidth;
}

.map-info__btn {
    background-color: $bgGrey;
    border: 1px solid $bgDarkGrey;
    border-right: none;
    display: inline-block;
    height: $baseline*3;
    width: 25%;

    &:first-child {
        border-left: none;
    }

    &:hover {
        background-color: darken($bgGrey, 5%);
    }

    &.active {
        background-color: $bgDarkGrey;
    }
}

.book-info__pane {
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    top: $baseline*3;
    width: 100%;
}

.book-info__region {
    background: $bgGrey;
    color: #fff;
    display: block;
    line-height: $baseline*3;
    height: $baseline*3;
    margin: $baseline/2 0;
    padding-left: $gutter;
}

.book-info__climb {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: $baseline*2;
    margin-left: $gutter;
}

.climb-info__pane {
    padding: $baseline $gutter;
}

.marker-label {
    color: #fff;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
    line-height: 2rem;
    width: 28px;
    text-align: center;
}
