// Map
.site-content--map {
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: $headerHeight;
    z-index: 1;
}

.map-container {
    bottom: 0;
    left: $leftColWidth;
    position: absolute;
    right: 0;
    top: 0;
}

.map-container .angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.map-info {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: $leftColWidth;
}

.map-info__btn {
    background-color: $bgGrey;
    border: 1px solid $bgDarkGrey;
    border-bottom: none;
    border-right: none;
    color: #eee;
    display: inline-block;
    height: $baseline*3;
    width: 25%;

    &:first-child {
        border-left: none;
    }

    &:hover {
        background-color: darken($bgGrey, 5%);
    }

    &.active {
        background-color: $bgDarkGrey;
    }
}

.book-info__pane,
.climb-info__pane {
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    top: $baseline*3;
    width: 100%;
}

.book-info__region {
    background: $bgGrey;
    border-top: 1px solid $bgDarkGrey;
    color: #fff;
    display: block;
    line-height: $baseline*3;
    height: $baseline*3;
    padding-left: $gutter;
}

.book-info__climb-list {
    margin: $baseline 0;
}

.book-info__climb {
    font-size: 18px;
    line-height: $baseline*2;
    margin-left: $gutter;
}

.book-info__loading {
    color: $bgGrey;
    font-size: 20px;
    padding: $baseline $gutter;
}

.climb-info {
    padding: $baseline $gutter;
}

.climb-header {
    padding-top: $baseline*3;
    text-align: center;
}

.climb-header__name {
    color: inherit;
    font-size: 30px;
    font-weight: $bold;
}

.climb-header__location {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    opacity: 0.95;
}

.climb-stats {
    box-shadow: 0 -1px rgba(0, 0, 0, 0.15);
    margin: $baseline*3 0 0;
}

.climb-stats__item {
    box-shadow: -1px 0 rgba(0, 0, 0, 0.15);
    display: block;
    float: left;
    padding: $baseline 0 $baseline*1.5;
    text-align: center;
    width: 25%;

    &:first-child {
        box-shadow: none;
    }
}

.climb-stats__label {
    font-size: 12px;
    opacity: 0.95;
    text-transform: uppercase;
}

.climb-stats__value {
    display: block;
    font-size: 22px;
}

.climb-info__title {
    font-weight: $bold;
    text-transform: uppercase;
}

.marker-label {
    color: #fff;
    font-size: 14px;
    font-weight: $bold;
    line-height: 20px;
    width: 28px;
    text-align: center;
}
